baostock
cookiecutter
datetime
django
face-recognition
flask
flask-restplus
h5py
ipython
jupyter
keras
keras-preprocessing==1.1.0
matplotlib
mglearn
moviepy
numpy
pandas
scikit-learn
scipy
tensorflow-cpu
torch
torchvision
tushare